@import "tailwindcss";

/* Wajib ditambahkan agar kita bisa pakai class "dark:" 
  saat tombol tema ditekan nantinya 
*/
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 1. BASE: Palet Dark Mode (Tema Navy) */
  --color-navy-900: #060b19;
  --color-navy-800: #0e152e;
  --color-navy-700: #1a2442;
  --color-navy-600: #27365a;

  /* 2. BASE: Palet Light Mode */
  --color-light-bg: #f8fafc;
  --color-light-surface: #ffffff;
  --color-light-border: #e2e8f0;

  /* 3. BRAND / ACCENT: Warna Utama (Biru Profesional) */
  --color-accent: #2563eb;
  --color-accent-hover: #1d4ed8;
  --color-accent-dark: #3b82f6;
  --color-accent-light: #dbeafe;

  /* 4. TYPOGRAPHY: Warna Teks Khusus */
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-text-darkMain: #f8fafc;
  --color-text-darkMuted: #94a3b8;

  /* 5. SEMANTIC: Warna Status (Penting untuk Form & Notifikasi) */
  --color-status-success: #10b981;
  --color-status-error: #ef4444;
  --color-status-warning: #f59e0b;
  --color-status-info: #0ea5e9;

  --shadow-neumorphic-light: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;
  --shadow-neumorphic-dark: 4px 4px 8px #04060e, -4px -4px 8px #0e162a;
  --shadow-inner-neumorphic:
    inset 4px 4px 6px #d9d9d9, inset -4px -4px 6px #ffffff;

  --animate-marquee: marquee 30s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Utilitas tambahan untuk marquee */
.animate-marquee {
  animation: var(--animate-marquee);
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.pause-marquee:hover {
  animation-play-state: paused;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes navSlideDownFade {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-nav-enter {
  animation: navSlideDownFade 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}